html{
    background-color: #F3B664;
}
#basliq{
    font-family: Poppins;
    text-align: center;
    background-color: #9FBB73;
    color:antiquewhite
}
.yazi{
    font-family: Abel;
    color: #A34343
}
