html{
    background-color: #FFC470;
}
h1{
    font-family: Poppins;
    text-align: center;
    background-color: #4793AF;
    color:antiquewhite
}
.metin{
    font-size: x-large;
    font-family: Abel;
    font-weight: bold;
    color: #8B322C
}
.altmetin{
    font-size:17pt;
    font-family: Abel;
    font-weight:normal;
}